:root{
    /* black and white with orangered */
    --first-c-black:black;
    --sec-c-white:white;
    --third-c-orangered:orangered;

    /* white and blue and darkblue */
    --sec-c-blue:#2196f3;
    --sec-c-darkblue:#155d98;

    /* white and green and black */
    --sec-c-green:#284e4d;
    --gold-c:#32b138;

    --main-padding:100px;
    --main-transition:0.5s;
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration:none;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'cairo' , sans-serif;
}   
.container{
    padding-left: 15px;
    padding-right:  15px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px){
    .container {
        width: 1170px;
        display: flex;
        gap: 40px;
    }
}
/* main title */
.main-title {
    padding-top:var(--main-padding) ;
    padding-bottom:var(--main-padding) ;
    text-transform: uppercase;
    margin: 0 auto 80px;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 30px;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: var(--main-transition);
}
.main-title::before,
.main-title::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--sec-c-green);
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}
.main-title::before {
    left: -30px;
}
.main-title::after {
    right: -30px;
}
.main-title:hover::before {
    z-index: -1;
    animation: left-move 0.5s linear forwards;
}
.main-title:hover::after {
    z-index: -1;
    animation: right-move 0.5s linear forwards;
}
.main-title:hover {
    color: var(--sec-c-white);
    border: 2px solid var(--gold-c);
    transition-delay: 0.5s;
}
@keyframes left-move {
    50% {
    left: 0;
    width: 12px;
    height: 12px;
    }
    100% {
    left: 0;
    border-radius: 0;
    width: 51%;
    height: 100%;
    }
}
@keyframes right-move {
    50% {
    right: 0;
    width: 12px;
    height: 12px;
    }
    100% {
    right: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
}
}
/* hero */
.hero::before{
    content: "";
    position: absolute;
    left: 0;
    top: -40px;
    width: 100%;
    height: 104%;
    background-image: url("../images/m-bg.jpg");
    background-size: cover;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
}

.hero{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    height: calc(100vh - 80px);
    background-image: url(../images/);
}
section .container{
    position: relative;
    width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding-top: 50px;
} 
section .main-pic{
    max-width: 480px;
    max-height:640px ;
    animation: up-and-down 3s linear infinite;
} 
.container .right{
    width: 50%;
    padding: 50px;
    background-color: var(--transparent-color);
}
.container .left{

    text-align: center;
}
section .container h2{
    padding-bottom: 10px;
    font-size: 55px;
    color: #4caf50;
    font-weight: 800;
}
section .container h4{
    padding-top: 25px;
    padding-bottom: 70px;
    font-size: 40px;
    font-weight: 700;
}
section .container p{
    margin-top: 20px;
    line-height: 1.6;
    color: #67aa6b;
    font-size: 21px;
    font-weight: 800;
    z-index: 1;
    opacity: 0.9;
}
section .container p::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 130px;
    background-color: #1e383694;
    margin-left: -27px;
    margin-top: -20px;
    z-index: -1;
    border-radius: 10px;
}
.tail{
    position: absolute;
    bottom: 30px;
    left: 50%;
    font-size: 30px;
    transform: translateX(-50%);
    animation: up-and-downs 1.5s linear infinite;
    color: var(--sec-c-green);
}
.tail:hover{
    bottom:34px;
    color: var(--gold-c);
    transition-duration: var(--trans-duration);
    font-weight: 800;
}
@media (max-width: 768px) {
    .hero{
        display: flex;
    }
    section .container h2{
        padding-bottom: 10px;
        font-size: 44px;
        color: #4caf50;
        font-weight: 800;
        margin-bottom: 100px;
    }
    section .container h4{
        padding-top: 25px;
        padding-bottom: 70px;
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 100px;
    }
    section .container p{
    display: none;
    }
    .tail{
        display: none;
    }    
} 
/* end hero */


/* animation */
@keyframes up-and-down  {
    0%, 100% {
        transform: translateY(-18%);
    }
    50% {
        transform: translateY(-14%);
    }
}
@keyframes up-and-downs  {
    0%, 100% {
        bottom:2 ;
    }
    50% {
        bottom: 8px;
}
}
/* Start Articles */
.articles {
    padding-top: var(--main-padding);
    padding-bottom: 70px;
    position: relative;
}
.articles .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}
.articles .box {
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
    transition: transform var(--main-transition), box-shadow var(--main-transition);
}
.articles .box:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}
.articles .box img {
    width: 100%;
    max-width: 100%;
    height: 350px!important;
}
.articles .box .content {
    padding: 20px;
}
.articles .box .content h3 {
    margin: 0;
}
.articles .box .content p {
    margin: 10px 0 0;
    line-height: 1.5;
    color: #777;
}
.articles .box .info {
    padding: 20px;
    border-top: 1px solid #e6e6e7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.articles .box .info a {
    color: var(--gold-c);
    font-weight: bold;
}
.articles .box .info i {
    color: var(--gold-c);
}
.articles .box:hover .info i {
    animation: moving-arrow 0.6s linear infinite;
}
#animated-paragraph {
    opacity: 0;
}
.date{
    display: block;
    font-size: 14px;
    font-weight: normal;
}
@media (max-width: 768px) {
    .articles .box img {
        width: 100%;
        max-width: 100%;
        height: 490px!important;
    }
}
/*END Articles */


/*Start Skills */
/*End Skills */

/* contact us  */
.contact_us{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: beige;
}
.contact_us input{
    border-radius: 6px;
    padding:10px;
}
.contact_us .sub{
    background-color: var(--first-c-black);
    color: white;

}
.contact_us .email{
    padding: 10px 20px;
    width: 400px;
}
.plus{
    text-align: center;
}
.title{
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
}
/* End contact us  */


/*Start About us */
.aboutus{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: #f3f3f3bd;
}
.one{
    display: block;
}
.words{
    padding: 10px;
    font-size: 28px;
    line-height: 1.8;
    color: #808080 ;
    margin-bottom: 20px;
    text-align: center;
}
.aboutus a{
    text-transform: uppercase;
    text-align: center;
    font-weight:bold;
    padding: 20px;
    font-size:28px;
    margin-bottom: 30px;
    cursor: pointer;
    color: black;
    margin: auto;
    display: block;
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}
.team_members{
    display: flex;
    background-color: #f3f3f3bd;
}
.card{
    width: 320px;
    height: 270px;
    background: white;
    cursor: pointer;
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
    transition: transform var(--main-transition), box-shadow var(--main-transition);
    margin: auto;
    margin-bottom: 25px;
    position: relative;
    justify-content: flex-end;
}
.card::before{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    top: 1px;
    background-color: var(--gold-c);
    width: 0;
    transition: var(--trans-duration);
}
.card:hover::before{
    content: '';
    width: 100%;
}
.card img::before{
    content: "";
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgb(255, 178, 12);
    position: absolute;
    margin: 0 auto;
    transform: translate(55%, -50%);
}
.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}
.card h1{
    color: var(--gold-c);
    font-size: 28px;
    text-align: center;
    margin-top: 80px;
    text-transform: uppercase;
}
.card p{
    color: #808080;
    font-size: 12px;
    text-align: center;
}
@media screen and (max-width:625px) and (min-width:225px) {
.cards{
    width:500px ;
    row-gap: 20px;
    column-gap: 5px;
    display: grid;
    grid-template-columns: repeat(3,2fr);
    margin:20px auto;
}
.card{
    width: 125px;
    height: 200px;
    background: white;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    border: 2px solid black;
    transition: .3s all ease-in-out;
}
.card:hover{
    scale:1.05;
}
.card h1{
    color: var(--gold-c);
    font-size: 15px;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
.card p{
    color: rgb(0, 0, 0);
    font-size: 9px;
    display: flex;
    justify-content: center;
}
}
/* Amr */
:root{
    /* black and white with orangered */
    --first-c-black:black;
    --sec-c-white:white;
    --third-c-orangered:orangered;

    /* white and blue and darkblue */
    --sec-c-blue:#2196f3;
    --sec-c-darkblue:#155d98;

    /* white and green and black */
    --sec-c-green:#284e4d;
    --gold-c:#32b138;

    --main-padding:100px;
    --main-transition:0.5s;
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration:none;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'cairo' , sans-serif;
}   
.container{
    padding-left: 15px;
    padding-right:  15px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px){
    .container {
        width: 1170px;
        display: flex;
        gap: 40px;
    }
}
/* main title */
.main-title {
    padding-top:var(--main-padding) ;
    padding-bottom:var(--main-padding) ;
    text-transform: uppercase;
    margin: 0 auto 80px;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 30px;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: var(--main-transition);
}
.main-title::before,
.main-title::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--sec-c-green);
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}
.main-title::before {
    left: -30px;
}
.main-title::after {
    right: -30px;
}
.main-title:hover::before {
    z-index: -1;
    animation: left-move 0.5s linear forwards;
}
.main-title:hover::after {
    z-index: -1;
    animation: right-move 0.5s linear forwards;
}
.main-title:hover {
    color: var(--sec-c-white);
    border: 2px solid var(--gold-c);
    transition-delay: 0.5s;
}
@keyframes left-move {
    50% {
    left: 0;
    width: 12px;
    height: 12px;
    }
    100% {
    left: 0;
    border-radius: 0;
    width: 51%;
    height: 100%;
    }
}
@keyframes right-move {
    50% {
    right: 0;
    width: 12px;
    height: 12px;
    }
    100% {
    right: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
}
}
/* hero */
.hero::before{
    content: "";
    position: absolute;
    left: 0;
    top: -40px;
    width: 100%;
    height: 104%;
    background-image: url("../images/m-bg.jpg");
    background-size: cover;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
}

.hero{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    height: calc(100vh - 80px);
    background-image: url(../images/);
}
section .container{
    position: relative;
    width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding-top: 50px;
} 
section .main-pic{
    max-width: 480px;
    max-height:640px ;
    animation: up-and-down 3s linear infinite;
} 
.container .right{
    width: 50%;
    padding: 50px;
    background-color: var(--transparent-color);
}
.container .left{

    text-align: center;
}
section .container h2{
    padding-bottom: 10px;
    font-size: 55px;
    color: #4caf50;
    font-weight: 800;
}
section .container h4{
    padding-top: 25px;
    padding-bottom: 70px;
    font-size: 40px;
    font-weight: 700;
}
section .container p{
    margin-top: 20px;
    line-height: 1.6;
    color: #67aa6b;
    font-size: 21px;
    font-weight: 800;
    z-index: 1;
    opacity: 0.9;
}
section .container p::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 130px;
    background-color: #1e383694;
    margin-left: -27px;
    margin-top: -20px;
    z-index: -1;
    border-radius: 10px;
}
.tail{
    position: absolute;
    bottom: 30px;
    left: 50%;
    font-size: 30px;
    transform: translateX(-50%);
    animation: up-and-downs 1.5s linear infinite;
    color: var(--sec-c-green);
}
.tail:hover{
    bottom:34px;
    color: var(--gold-c);
    transition-duration: var(--trans-duration);
    font-weight: 800;
}
@media (max-width: 768px) {
    .hero{
        display: flex;
    }
    section .container h2{
        padding-bottom: 10px;
        font-size: 44px;
        color: #4caf50;
        font-weight: 800;
        margin-bottom: 100px;
    }
    section .container h4{
        padding-top: 25px;
        padding-bottom: 70px;
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 100px;
    }
    section .container p{
    display: none;
    }
    .tail{
        display: none;
    }    
} 
/* end hero */


/* animation */
@keyframes up-and-down  {
    0%, 100% {
        transform: translateY(-18%);
    }
    50% {
        transform: translateY(-14%);
    }
}
@keyframes up-and-downs  {
    0%, 100% {
        bottom:2 ;
    }
    50% {
        bottom: 8px;
}
}
/* Start Articles */
.articles {
    padding-top: var(--main-padding);
    padding-bottom: 70px;
    position: relative;
}
.articles .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}
.articles .box {
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
    transition: transform var(--main-transition), box-shadow var(--main-transition);
}
.articles .box:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}
.articles .box img {
    width: 100%;
    max-width: 100%;
    height: 350px!important;
}
.articles .box .content {
    padding: 20px;
}
.articles .box .content h3 {
    margin: 0;
}
.articles .box .content p {
    margin: 10px 0 0;
    line-height: 1.5;
    color: #777;
}
.articles .box .info {
    padding: 20px;
    border-top: 1px solid #e6e6e7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.articles .box .info a {
    color: var(--gold-c);
    font-weight: bold;
}
.articles .box .info i {
    color: var(--gold-c);
}
.articles .box:hover .info i {
    animation: moving-arrow 0.6s linear infinite;
}
#animated-paragraph {
    opacity: 0;
}
.date{
    display: block;
    font-size: 14px;
    font-weight: normal;
}
@media (max-width: 768px) {
    .articles .box img {
        width: 100%;
        max-width: 100%;
        height: 490px!important;
    }
}
/*END Articles */


/*Start Skills */
/*End Skills */

/* contact us  */
.contact_us{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: beige;
}
.contact_us input{
    border-radius: 6px;
    padding:10px;
}
.contact_us .sub{
    background-color: var(--first-c-black);
    color: white;

}
.contact_us .email{
    padding: 10px 20px;
    width: 400px;
}
.plus{
    text-align: center;
}
.title{
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
}
/* End contact us  */


/*Start About us */
.aboutus{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: #f3f3f3bd;
}
.one{
    display: block;
}
.words{
    padding: 10px;
    font-size: 28px;
    line-height: 1.8;
    color: #808080 ;
    margin-bottom: 20px;
    text-align: center;
}
.aboutus a{
    text-transform: uppercase;
    text-align: center;
    font-weight:bold;
    padding: 20px;
    font-size:28px;
    margin-bottom: 30px;
    cursor: pointer;
    color: black;
    margin: auto;
    display: block;
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}
.team_members{
    display: flex;
    background-color: #f3f3f3bd;
    padding-bottom:var(--main-padding) ;
}
.card{
    width: 320px;
    height: 270px;
    background: white;
    cursor: pointer;
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
    transition: transform var(--main-transition), box-shadow var(--main-transition);
    margin: auto;
    margin-bottom: 25px;
    position: relative;
    justify-content: flex-end;
}
.card img::before{
    content: "";
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgb(255, 251, 12); 
    position: absolute;
    margin: 0 auto;
    transform: translate(40%, -50%);
}
.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}
.card h1{
    color: var(--gold-c);
    font-size: 28px;
    text-align: center;
    margin-top: 80px;
    text-transform: uppercase;
}
.card p{
    color: #808080;
    font-size: 12px;
    text-align: center;
}
@media screen and (max-width:625px) and (min-width:525px) {



.cards{
    width:500px ;
    row-gap: 20px;
    column-gap: 2px;
    display: grid;
    grid-template-columns: repeat(3,2fr);
    margin:20px auto;
}
.card{
    width: 125px;
    height: 200px;
    background: white;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    border: 2px solid black;
    transition: .3s all ease-in-out;
}
.card:hover{
    scale:1.05;
}

.card h1{
    color: var(--gold-c);
    font-size: 15px;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
.card p{
    color: rgb(0, 0, 0);
    font-size: 9px;
    display: flex;
    justify-content: center;
}
}





@media screen and (max-width:350px) and (min-width:125px) {


    .cards{
        width:250px ;
        row-gap: 20px;
        column-gap: 2px;
        /* display: grid;
        grid-template-columns: repeat(3,2fr); */
        display: flex;
        flex-wrap: wrap;
        margin:20px auto;
    }
    .card{
        width: 125px;
        height: 200px;
        background: white;
        border-radius: 10px;
        font-family: Arial, Helvetica, sans-serif;
        cursor: pointer;
        border: 2px solid black;
        transition: .3s all ease-in-out;
    }
    .card:hover{
        scale:1.05;
    }
    .card h1{
        color: var(--gold-c);
        font-size: 15px;
        display: flex;
        justify-content: center;
        margin-top: 80px;
    }
    .card p{
        color: rgb(0, 0, 0);
        font-size: 9px;
        display: flex;
        justify-content: center;
    }
    
}

.slider-container {
    overflow: hidden;
    width: 100%; 
    position: relative;
}
.prev,.next{
    text-align: center;
    position: absolute;
    font-size: 45px;
    background-color:#32b13838;
    border-radius: 50%;
    color: var(--first-c-black);

    border: none;
    cursor: pointer;
    top: 50%;
    transform: translateY(-80%);
    z-index: 99;
    padding: 5px;
}
.prev{
    left: 0;
}
.next{
    right: 0;
}
.slider {
    display: flex;
    transition: left 1s ease;
    overflow: hidden;
}
.card {
    flex: 0 0 auto;
    width: 300px; 
    margin-right: 20px;
    padding: 20px;
}
/* Carousel */
#carouselExampleDark{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}
.carousel-inner img{
    /* height: auto;
    max-height: 800px; */
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
}
.carousel-control-next-icon,
.carousel-control-prev-icon{
    background-color: rgba(0, 0, 0, 0.225);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    
}