/* start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    position: relative;
    padding: 0.5rem calc((100vw - 1200px) / 2);
    box-shadow: 0 0 10px #000000;
    -moz-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #bfbfbf;
    z-index: 1;
}
.nav-logo{
    color:var(--sec-c-green);
    text-decoration: none;
    font-size: 35px;
    padding:0 2rem;
    font-weight: 900;
}
@media (max-width: 768px) {
    .nav-logo{
        padding-left: 0;
        font-size:25px;
    }
}
.nav-logo:hover{
    color:var(--gold-c);
}
.nav-link{
    text-decoration: none;
    font-size: 20px;
    color:var(--sec-c-green);
    padding: 0rem 1rem;
    position: relative;
    font-weight: 800;
}
.nav-link:hover{
    color: var(--gold-c);
}
.navbar-menu li{
    list-style: none;
    margin: 0 10px;
}
.navbar-menu{
    display: flex;
}
.nav-link{
    padding: 0 1rem;
    transition-duration: 0.5s;
}
@media (max-width: 1002px) {
    .navbar{
        justify-content: center;
    }
    .nav-logo{
        display: none;
    }
}
@media  (max-width:767px) {
    body.active{
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .nav-link{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 25px;
    }
    .navbar-menu{
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: repeat(4 , 100px);
        position: absolute;
        width: 100%;
        top: -1000px;
    }
    .navbar-menu.is-active{
        top: 100%;
        opacity: 1;
        z-index: 99;
        height: 100vh;
        font-size: 1.5rem;
        background-color: var(--sec-c-white);
    }
    .nav-toggle .bar{
        
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.5s ease-in-out;
        background-color:var(--sec-c-green);
        display: block;
        cursor: pointer;
    }
    .nav-logo{
        padding-left: 20px;
    }
    #mobile-menu{
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(30%, -40%);
    }
    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
        color: var(--sec-c-green);
    }
    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
        color: var(--sec-c-green);
    }
}
@media (max-width: 1199px) {
    .navbar{
        justify-content: center;
    }
    .nav-logo{
        display: none;
    }
}
.navbar .navbar-menu a::before{
    content: '';
    position: absolute;
    top: -27px;
    left: 0%;
    width: 0;
    height: 5px;
    background-color: var(--gold-c);
    transition: 0.5s;
}
.navbar .navbar-menu a:hover::before{
    width: 100%;
}
.navbar .navbar-menu a:hover .nav-link{
    background-color:var(--gold-c);
}
.header .container a:hover{
    color: var(--gold-c);
    background-color: var(--gold-c);
}
.fa-user:before{
    font-size:28px;
    position: absolute;
    transform: translateY(3px);
    cursor: pointer;
}
.user{
    position: relative;
}
.menu{
    display: none;
}
.menu button{
    color:#32B138 ; 
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 6px;
    padding: 5px;
}
.menu button:hover{
    background-color: #00ff0d;
    color: white;
}
.menu.active{
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: #ffffff6b;
    position: absolute;
    top: 70px;
    padding: 15px;
    left: -40px;
    border-radius: 6px;
}
